/* About.css */
#about {
  padding: 50px;
  background-color: #f0f0f0;
  text-align: center;
  font-size: 1.2em;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-info {
  max-width: 600px;
  margin-top: 30px;
}

.about-info p {
  margin-bottom: 20px;
  line-height: 1.6; /* Improve readability */
}

.about-info h2 {
  margin-bottom: 20px;
  color: #333; /* Adjust heading color */
}

.about-info img {
  width: 250px;
  height: auto;
  margin-top: 20px;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Add shadow to the image */
}

/* Animation for About */
@keyframes moveHeadingAbout {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(200%);
  }
}

#about h2 {
  animation: moveHeadingAbout 10s linear infinite; /* Apply animation */
}

/* Override conflicting styles from App.css */
@media screen and (min-width: 1400px) {
  .about-container {
    max-width: 1200px;
  }
}
