#contact {
  padding: 50px;
  background-color: #c0c0c0;
  text-align: center;
  font-size: 1.2em;
}

.container {
  max-width: 800px; /* Adjusted max-width for better readability on smaller screens */
  margin: 0 auto; /* Center the content horizontally */
}

.contact-info {
  margin-top: 30px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  word-wrap: break-word; /* Force long words to wrap */
}

.contact-info p {
  margin-bottom: 10px;
  font-size: 1em;
}

.contact-info a {
  color: #007bff;
  text-decoration: none;
  padding: 5px 10px;
  display: inline-block; /* Change display to inline-block for better wrapping */
  max-width: 90%; /* Adjusted max-width for better wrapping on smaller screens */
  overflow-wrap: break-word; /* Ensure long links wrap */
  margin-bottom: 5px; /* Add margin bottom to create space between links */
}

.contact-info a:hover {
  color: #0056b3;
}

.contact-info a:visited {
  color: #0056b3;
}

.contact-info ul {
  list-style: none;
  padding: 0;
}

.contact-info li {
  margin-bottom: 10px;
}

.contact-info li:before {
  content: "\2022";
  color: #007bff;
  font-size: 1.2em;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

/* Additional styles for mobile devices */
@media (max-width: 768px) {
  .contact-info {
    padding: 10px;
  }

  .contact-info p {
    font-size: 0.9em;
  }

  .contact-info a {
    max-width: 100%; /* Adjust max-width to 100% for smaller screens */
  }
}
