#contact {
  padding: 50px;
  background-color: #c0c0c0;
  text-align: center;
  font-size: 1.2em;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  overflow-wrap: break-word; /* Allow long words to wrap */
}

.container ul {
  list-style: none;
  padding: 0;
}

.container li {
  margin-bottom: 10px;
}

.container li a {
  color: #007bff;
  text-decoration: none;
}

.container li a:hover {
  color: #0056b3;
}

.container li a:visited {
  color: #0056b3;
}

.container li:nth-child(2) a {
  padding: 5px 10px;
  overflow-wrap: break-word;
  max-width: 100%;
}

/* Transformation */
#contact h2 {
  animation: rotateHeading 2s infinite linear; /* Apply animation */
}

@keyframes rotateHeading {
  0% {
    transform: rotate(0deg); /* Start position - no rotation */
  }
  100% {
    transform: rotate(5deg); /* End position - rotate 5 degrees clockwise */
  }
}
