/* Projects.css */
#projects {
  padding: 50px;
  background-color: #e0e0e0;
  text-align: center;
  font-size: 1.2em;
}

.project {
  margin-top: 40px; /* Add space between projects */
  border: 2px solid #333; /* Add border to projects */
  border-radius: 10px; /* Round the corners of projects */
  padding: 20px; /* Add padding inside projects */
}

.project h3 {
  color: #333; /* Change color of project titles */
  font-size: 1.5em; /* Increase font size of project titles */
}

.project p {
  color: #666; /* Change color of project descriptions */
  font-size: 1.2em; /* Adjust font size of project descriptions */
}

#projects-heading {
  writing-mode: vertical-rl; /* Set text direction to vertical, right to left */
  transform: rotate(180deg) translateY(50%); /* Rotate text by 180 degrees and move it down by 50% of its own height */
  padding: 20px 10px; /* Adjust padding as needed */
  background-color: #333; /* Background color for the heading */
  color: #fff; /* Text color for the heading */
  border-radius: 50px; /* Border radius to create a curved effect */
  font-size: 1.2em; /* Font size */
  width: fit-content; /* Make the width fit the content */
  text-align: center; /* Center text horizontally */
  position: absolute; /* Position the heading absolutely */
  top: 50%; /* Align the heading to the middle vertically */
  left: -50px; /* Adjust horizontal position as needed */
}
