/* Skills.css */
#skills {
  padding: 50px;
  background-color: #d0d0d0;
  text-align: center;
  font-size: 1.2em;
  overflow: hidden; /* Add overflow: hidden to prevent content from overflowing */
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill {
  background-color: #fff;
  border-radius: 8px;
  padding: 10px 20px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease; /* Add transition for smooth scaling */
}

.skill-text {
  font-size: 1.1em;
  color: #333;
}

.skill:hover {
  transform: scale(1.05); /* Scale up by 5% when hovered */
}

/* Animation for Skills */
@keyframes moveHeadingSkills {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%); /* Adjust to move to the right */
  }
}

#skills h2 {
  animation: moveHeadingSkills 10s linear infinite; /* Apply animation to the h2 heading */
}
